body {
    margin: 0;
    background-color: black;
    padding: 20px;
    width: 600px;
}
article {
    background-color: white;
    height: 600px;
    width:613px;
    border: 10px;
    margin-top: 50px;
    margin-left: 50%;
}
.article-header-down {
    font-size: 25px;
    display: flex;
    align-items:center;
    padding: 6px;
    justify-content:space-between;
}
.article-header-up {
    display: flex;
    align-items:center;
    padding: 6px;
    justify-content:flex-start;
}

.article-header-right {
    font-size: 25px;
    color: black;
    align-items:end;
    padding-left: 430px;
}
.texto-superior {
    line-height: 0px;
    padding-top: 15px;
}

i {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: start;
    padding: 6px;
    justify-content: space-between;
}
p {
    margin: 13px;
}
.logo {
    font-size:xx-large;
}